mixin info()
  .info
    p.info__time
      span Время работы:
      span 10.00 — 19.00
    p.info__phone
      a.info__phone-link(href='tel: +8 495 721-25-25') 8 495 721-25-25
    p.info__region
      span Москва
      span сменить