include ../blocks/header/header
include ../components/logo/logo
include ../components/header-nav/header-nav
include ../components/auth/auth
include ../components/advertising/advertising
include ../components/user-links/user-links
include ../components/products/products
include ../components/info/info
include ../components/main-nav/main-nav