-
  const mainMenu = [
  {
  name: 'Перфораторы',
  url: '#'
  },
  {
  name: 'Дрели',
  url: '#'
  },
  {
  name: 'Шлифмашины',
  url: '#'
  },
  {
  name: 'Пистолеты',
  url: '#'
  },
  {
  name: 'Электропилы',
  url: '#'
  },
  {
  name: 'Наборы инструментов',
  url: '#'
  },
  {
  name: 'Аксессуары',
  url: '#'
  }
  ];
