mixin user-links()
  ul.user-links
    li.user-links__item
      a.user-links__link(href='#') 3 шт. / 17 250 р.
    li.user-links__item
      a.user-links__link(href='#') Избранное(7)
    li.user-links__item
      a.user-links__link(href='#') К сравнению(5)