.user-links {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    position: relative;
    padding: 0 0 5px 31px;

    &:first-child .user-links__link {
      font-size: 14px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 19px;
      height: 18px;
      background-image: url(img/cart.png);
      background-repeat: no-repeat;
    }

    &:nth-child(2):before {
      top: 5px;
      left: 6px;
      background-image: url(img/star.png);
    }

    &:last-child:before {
      top: 5px;
      left: 5px;
      background-image: url(img/balance.png);
    }
  }

  &__link {
    font-size: 12px;
    font-family: inherit;
    color: #000;
  }
}