mixin header()
  header.page-header
    .logo-wrapper
      +logo
    .page-header__inner
      .header-nav-wrapper
        +header-nav
        +auth
      .page-header__content
        +advertising
        +user-links
        +products
        +info
    +main-nav
