-
  const nav = [
  {
    name: 'Каталог инструментов',
    url: '#'
  },
  {
    name: 'Всё для сада',
    url: '#'
  },
  {
    name: 'Ручной инструмент',
    url: '#'
  },
  {
    name: 'Электрика',
    url: '#'
  },
  {
    name: 'Доставка',
    url: '#'
  },
  {
    name: 'Оплата',
    url: '#'
  },
  {
    name: 'О нас',
    url: '#'
  }
  ];
